name: Tests

on:
  pull_request:

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: install dependencies
        run: |
          npm ci
          npx playwright install --with-deps

      - name: run tests
        run: |
          npm run test
